<!--
NAV FRAGMENTS
-->

<!-- USERNAME ICON WITH HOMEPAGE LINK -->
<div th:fragment="workspace-banner" class="nav-item full-width">
    <link th:href="@{/css/nav.css}" rel="stylesheet" />

    <a href="/" class='icon-button'>
        <p class="username-icon" th:text="${#strings.substring(username,0,1)}"></p>
        <p th:text="${username + '''s Workspace'}"></p>
    </a>

</div>


<!-- ADD NEW BUTTON -->
<div th:fragment="add-new" class="nav-item">
    <link th:href="@{/css/nav.css}" rel="stylesheet" />


    <a th:href="'/newtask' + ${params}" class='icon-button'>
        <i class="material-icons">add</i>
        <p>Add New Task</p>
    </a>
</div>



<!-- SEARCH MODAL BUTTON -->
<!-- TODO make this open a search modal -->
<div th:fragment="search-modal" class="nav-item" id="search-modal" onclick="toggleModal()">
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <script th:src="@{/js/search.js}"></script>

    <a class='icon-button'>
        <i class="material-icons">search</i>
        <p>Search</p>
    </a>

    <div id="search-modal-content">

    </div>

</div>



<!-- DIVIDER -->
<div th:fragment="divider" class="nav-item divider">
    <hr />
</div>