<!--
PARAMS:
- title: Title of the Quadrant
- tasks: Task Array
-->
<div th:fragment="quadrant" class="quadrant">

    <div th:if="${quadrant.isHighImportance == true && quadrant.isHighUrgency == true}">
        <a class="quadrant-title" th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}">
            <i class="material-icons">keyboard_capslock</i>
            <strong>Important and Urgent</strong>
        </a>
    </div>

    <div th:if="${!quadrant.isHighImportance  == true && quadrant.isHighUrgency == true}">
        <a class="quadrant-title" th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}">
            <i class="material-icons">keyboard_arrow_up</i>
            <strong>Not Important and Urgent</strong>
        </a>
    </div>

    <div th:if="${quadrant.isHighImportance == true && !quadrant.isHighUrgency == true}">
       <a class="quadrant-title" th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}">
           <i class="material-icons">keyboard_arrow_up</i>
            <strong>Important and Not Urgent</strong>
        </a>
    </div>

    <div th:if="${!quadrant.isHighImportance == true && !quadrant.isHighUrgency == true}">
        <a class="quadrant-title" th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}">
            <i class="material-icons">keyboard_arrow_up</i>
            <strong>Not Important and Not Urgent</strong>
        </a>
    </div>

    <a th:href="'/newtask?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}" class='icon-button'>
        <i class="material-icons">add</i>
    </a>

    <div class="quadrant-list">
        <a
                href="#"
                th:each="task : ${quadrant.quadrantTasks}"
                th:href="'/task?taskId=' + ${task.taskId}"
                th:text="${task.taskText}"
                class="quadrant-list-item">
        </a>
    </div>

</div>