<!--
PARAMS:
- title: Title of the Quadrant
- tasks: Task Array
-->
<div th:fragment="quadrant" class="quadrant">

    <a
        class="quadrant-title high"
        th:if="${quadrant.isHighImportance == true && quadrant.isHighUrgency == true}"
        th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}"
    >
        <i class="material-icons high">keyboard_capslock</i>
        <strong>Important and Urgent</strong>
    </a>


    <a
        class="quadrant-title medium"
        th:if="${!quadrant.isHighImportance  == true && quadrant.isHighUrgency == true}"
        th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}"
    >
        <i class="material-icons medium">keyboard_arrow_up</i>
        <strong>Not Important and Urgent</strong>
    </a>


    <a
        class="quadrant-title medium"
        th:if="${quadrant.isHighImportance == true && !quadrant.isHighUrgency == true}"
        th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}"
    >
       <i class="material-icons medium">keyboard_arrow_up</i>
        <strong>Important and Not Urgent</strong>
    </a>


    <a
        class="quadrant-title low"
        th:if="${!quadrant.isHighImportance == true && !quadrant.isHighUrgency == true}"
        th:href="'/quadrant?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}"
    >
        <i class="material-icons low">arrow_drop_up</i>
        <strong>Not Important and Not Urgent</strong>
    </a>

    <a th:href="'/newtask?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency}" class='icon-button'>
        <i class="material-icons">add</i>
    </a>

    <div th:replace="fragments/nav.html :: divider"></div>

    <div
            class="quadrant-list"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            th:attr="data-isHighImportance=${quadrant.isHighImportance}, data-isHighUrgency=${quadrant.isHighUrgency}"
    >

        <a
                href="#"
                th:each="task : ${quadrant.quadrantTasks}"
                th:id="'task-' + ${task.taskId}"
                th:href="'/task?taskId=' + ${task.taskId}"
                th:text="${task.taskText}"
                class="quadrant-list-item low"
                ondragstart="dragStart(event)"
                ondragend="dragEnd(event)"
                th:draggable="${tasksAreDraggable} "
                th:attr="data-taskId=${task.taskId}"
        >
        </a>
    </div>

</div>