<!--
PARAMS:
- title: Title of the Quadrant
- tasks: Task Array
-->
<div th:fragment="quadrant" class="quadrant">

    <a
        class="quadrant-title"
        th:classappend="${status}"
        th:href="@{'/quadrant/?important=true&urgent=true'}"
    >
        <th:block th:switch="${status}">
            <i th:case="'high'" class="material-icons">keyboard_capslock</i>
            <i th:case="'medium'" class="material-icons">keyboard_arrow_up</i>
            <i th:case="'low'" class="material-icons">arrow_drop_up</i>
        </th:block>

        <strong th:text="${title}"/>
    </a>

    <a href="/newtask" class='icon-button'>
        <i class="material-icons">add</i>
    </a>

    <div class="quadrant-list">
        <a
                href="#"
                th:href="'/task?taskId=' + ${task.taskId}"
                th:each="task : ${tasks}" 
                th:text="${task.taskText}"
                class="quadrant-list-item">
        </a>
    </div>

</div>