/* IMPORT ROBOTO AND ROBOTO CONDENSED */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



                                                                                       /* FONT */

/*
P.S.
Using fibonacci series for font size and line height.
I thing it looks really good.
Joe

[ 13, 21, 34, 55, 89 ]
*/

* {
  /* default font style */
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 21px;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-size: 21px;
  line-height: 34px;
}

h1 {
  font-size: 34px;
  line-height: 55px;
}

/* GENERAL */

body {
  display: flex;
  flex-wrap: wrap;
}

#searchbar {
  flex: 0 0 100%;
  height: 0vh;
  display: none;

  /*remove*/
}

nav {
  flex: 0 0 20%;
  height: 100vh;
  background-color: rgb(247, 246, 243);
}

main {
  flex: 0 0 80%;
  height: 100vh;
}