#nav-content {
    display: flex;
    flex-wrap: wrap;
}

/* NAV FRAGMENTS */

.nav-item {
    flex: 0 0 100%;
}

.username-icon {
    background-color: #2f54eb;
    color: white;
    width: 21px;
    margin-right: 8px;
    text-align: center;
}

.nav-item .icon-button {
    padding: 0px 13px;
    height: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2c2c2c;
    transition-duration: 0.25s;
}

.nav-item .icon-button:hover {
    background-color: rgb(227, 226, 223);
}

.nav-item .icon-button .material-icons {
    width: 21px;
    font-size: 21px;
    margin-right: 8px;
    transform: translateY(-1px);
}

.nav-item .icon-button a {
    flex: 0 0 calc(100% - 21px);
}

.nav-item hr {
    border: 1px solid rgb(227, 226, 223);
}

/*SEARCH MODAL*/

#search-modal::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
    pointer-events: none;
}


#search-modal.open::before {
    opacity: 1;
    pointer-events: all;
}

#search-modal-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
    background-color: rgb(227, 226, 223);
    z-index: +1;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.68, 0, 0.32, 1);
    transform: translateY(-100%);
    opacity: 0;
}

#search-modal-content.open {
    transform: translateY(0);
    opacity: 1;
}