<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/loginregister.css}" rel="stylesheet" />
</head>
<body>

<div class="center-form">

    <a class="register-link" href="/register">Register</a>

    <form
            action="/login"
            th:object="${user}"
            method="POST"
            enctype="multipart/form-data"
    >

        <h2>Login</h2>

        <div class="field">
            <label>Username</label>
            <input type="text" name="username" th:field="*{username}"></input>
        </div>

        <div class="field">
            <label>Password</label>
            <input type="password" name="password" th:field="*{password}"></input>
        </div>

        <div class="button-group">
            <div class="button">
                <input type="submit" value="Login"/>
            </div>
        </div>

    </form>

</div>

</body>
</html>