<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quad Four</title>

    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/quadrant.css}" rel="stylesheet" />
</head>
<body>

    <nav>
        <div id="nav-content">
            <div th:replace="fragments/nav.html :: workspace-banner(username='Username')"></div>
            
            <div th:replace="fragments/nav.html :: divider"></div>
            <div th:replace="fragments/nav.html :: add-new(params='?important=' + ${quadrant.isHighImportance} + '&urgent=' + ${quadrant.isHighUrgency})"></div>
        </div>
    </nav>

    <main>

        <div class="quadrant-wrapper single-quadrant">
            <div th:replace="fragments/quadrant.html :: quadrant(quadrant=${quadrant})"></div>
        </div>

    </main>

</body>
</html>