<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quad Four</title>

    <!-- index scripts -->
    <script th:src="@{/js/index.js}"></script>

    <!-- index styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>

<main>
    <p th:text="${task.taskId}"></p>
    <p th:text="${task.taskText}"></p>
    <p th:text="${task.isHighImportance}"></p>
    <p th:text="${task.isHighUrgency}"></p>

    <a href="#" th:href="'/updatetask?taskId=' + ${task.taskId}">Update</a> <br/>
    <a href="#" th:href="'/duplicatetask?taskId=' + ${task.taskId}">Duplicate</a> <br/>
    <a href="#" th:href="'/deletetask?taskId=' + ${task.taskId}">Delete</a>
</main>

</body>
</html>