<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quad Four</title>

    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/task.css}" rel="stylesheet" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
</head>
<body>

    <nav>
        <div id="nav-content">
            <div th:replace="fragments/nav.html :: workspace-banner(username='Username')"></div>
            
            <div th:replace="fragments/nav.html :: divider"></div>
            <div th:replace="fragments/nav.html :: add-new(params='')"></div>
            <div th:replace="fragments/nav.html :: edit-task(id=${task.taskId})"></div>
            <div th:replace="fragments/nav.html :: duplicate-task(id=${task.taskId})"></div>
            <div th:replace="fragments/nav.html :: delete-task(id=${task.taskId})"></div>
        </div>
    </nav>

    <main>

        <div class="task-wrapper">

            <div class="task-field">
                <p>Task Text</p>
                <div class="textarea-readonly">
                    <p th:text="${task.taskText}"></p>
                </div>
            </div>

            <div class="task-field">
                <div class="checkbox-readonly">
                    <p>High Importance</p>
                    <div class="status-box"  th:classappend="${task.isHighImportance} ? checked : ''"></div>
                </div>
            </div>

            <div class="task-field">
                <div class="checkbox-readonly">
                    <p>High Urgency</p>
                    <div class="status-box" th:classappend="${task.isHighUrgency} ? checked : ''"></div>
                </div>
            </div>

        </div>

    </main>

</body>
</html>