<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quad Four</title>

    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/task.css}" rel="stylesheet" />
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
</head>
<body>

    <nav>
        <div id="nav-content">
            <div th:replace="fragments/nav.html :: workspace-banner(username='Username')"></div>
            <div th:replace="fragments/nav.html :: search-modal"></div>
        </div>
    </nav>

    <main>

        <form
            action="#"
            th:action="${formaction}"
            th:object="${task}"
            method="POST"
            enctype="multipart/form-data"
            class="task-wrapper"
        >

            <div class="task-field">
                <label class="textarea">
                    <span class="textarea-label">Task Text</span>
                    <textarea type="text" name="task" th:field="*{taskText}"></textarea>
                </label>
            </div>

            <div class="task-field checkbox">
                <label class="toggle">
                    <span class="toggle-label">High Importance</span>
                    <input class="toggle-checkbox" type="checkbox" name="isHighImportance" th:field="*{isHighImportance}">
                    <div class="toggle-switch"></div>
                </label>
            </div>

            <div class="task-field checkbox">
                <label class="toggle">
                    <span class="toggle-label">High Urgency</span>
                    <input class="toggle-checkbox" type="checkbox" name="isHighUrgency" th:field="*{isHighUrgency}">
                    <div class="toggle-switch"></div>
                </label>
            </div>

            <div class="task-field">
                <div class="button">
                    <input type="submit" value="Save"/>
                </div>
            </div>

        </form>
    </main>

</body>
</html>